!!!
%html
  %head
    %title Cody
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    -# Webpack commons
    = javascript_pack_tag 'manifest'
    = javascript_pack_tag 'vendor'
  %body.w-100.sans-serif.bg-near-white
    = yield
